.icon {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 42px;
  right: 20px;

  &--menu {
    width: 18px;
    height: 12px;
    background-image: url(../images/menuBike.svg);
    margin-top: 3px;

    @include onTablet {
      width: 24px;
      height: 16px;
    }

    @include onDesktop {
      width: 24px;
      height: 16px;
    }

    &:hover {
      background-image: url(../images/menuBike_hover.svg);
    }
  }

  &--phone {
    width: 18px;
    height: 18px;
    margin-right: 30px;
    background-image: url(../images/phoneBike.svg);

    @include onTablet {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }

    @include onDesktop {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }
  }

  &--cross {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../images/croosBike.svg);

    @include onTablet {
      right: 76px;
      top: 47px;
    }

    @include onDesktop {
      right: 105px;
      top: 53px;
      width: 21px;
      height: 21px;
    }
  }
}
