.top-actions {

  &__menuphone {
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 3;
    position: relative;
    right: -20px;

    @include onTablet {
      grid-column: 5 / 7;
    }

    @include onDesktop {
      grid-column: 11 / 13;
    }
  }
}
