h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ol, ul, li, fieldset, form, label, legend, table, article, aside, footer, header, menu, nav, section {
  vertical-align: baseline;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
}

img {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  scroll-behavior: smooth;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .logo {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1260px) {
  .logo {
    grid-column: 1 / 4;
  }
}

.logo__image {
  height: 38px;
  margin: 36px 0 44px;
  position: relative;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .logo__image {
    height: 56px;
  }
}

@media (min-width: 1260px) {
  .logo__image {
    height: 56px;
  }
}

.container {
  max-width: 1440px;
  position: relative;
}

.container--extra {
  background: linear-gradient(0deg, #182f40 5%, #0e0a10 100%);
  border-radius: 49px;
  margin: 0 auto 60px;
  padding: 20px;
  transition: all .5s;
  overflow: hidden;
  box-shadow: 0 0 131px 20px #298c99;
}

.container--extra:hover {
  transform: scale(1.03);
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000b3;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100vh);
}

.modal--active {
  animation: 1.1s both bounce-in-top;
  transform: translateY(0);
}

.modal__img {
  margin: 25vh auto;
  transition-duration: .5s;
}

.modal__img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.modal__button-img {
  z-index: 3;
  margin: 20px auto;
  position: relative;
  bottom: 20vh;
  left: 0;
  width: 300px !important;
}

@keyframes bounce-in-top {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    transform: translateY(-500px);
  }

  38% {
    opacity: 1;
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.header {
  justify-content: center;
  display: flex;
}

.header__title {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 300%;
  animation: 5s cubic-bezier(.25, .46, .45, .94) both focus-in-contract-bck;
}

.header__title:hover {
  animation: 4s linear both text-flicker-in-glow;
}

.header__phone {
  width: 24px;
  height: 24px;
  float: right;
  background-image: url("phone.181bcdd6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 2 / 3;
  margin: auto 0 auto auto;
  transition: all .5s;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .header__phone {
    width: 35px;
    height: 35px;
    grid-column: 6 / 8;
    margin: auto;
  }
}

@media (min-width: 1260px) {
  .header__phone {
    width: 42px;
    height: 42px;
    grid-column: 12 / 13;
  }
}

.header__phone:before {
  content: "+3 8099 311-40-72";
  width: max-content;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  padding-right: 20px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  transition: opacity .5s;
  display: block;
  position: absolute;
  transform: translate(-100%, 50%);
}

@media (min-width: 1260px) {
  .header__phone:before {
    font-size: 24px;
  }
}

.header__phone:hover:before {
  opacity: 1;
  pointer-events: all;
}

.header__phone:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@keyframes kenburns-left {
  0% {
    transform-origin: 16%;
    transform: scale(1)translate(0);
  }

  100% {
    transform-origin: 0;
    transform: scale(1.25)translate(-20px, 15px);
  }
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
    text-shadow: none;
  }

  10.1% {
    opacity: 1;
    text-shadow: none;
  }

  10.2% {
    opacity: 0;
    text-shadow: none;
  }

  20% {
    opacity: 0;
    text-shadow: none;
  }

  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff40;
  }

  20.6% {
    opacity: 0;
    text-shadow: none;
  }

  30% {
    opacity: 0;
    text-shadow: none;
  }

  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff73, 0 0 60px #ffffff40;
  }

  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff73, 0 0 60px #ffffff40;
  }

  30.6% {
    opacity: 0;
    text-shadow: none;
  }

  45% {
    opacity: 0;
    text-shadow: none;
  }

  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff73, 0 0 60px #ffffff40;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff73, 0 0 60px #ffffff40;
  }

  55% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff73, 0 0 60px #ffffff40;
  }

  55.1% {
    opacity: 0;
    text-shadow: none;
  }

  57% {
    opacity: 0;
    text-shadow: none;
  }

  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #ffffff59;
  }

  60% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #ffffff59;
  }

  60.1% {
    opacity: 0;
    text-shadow: none;
  }

  65% {
    opacity: 0;
    text-shadow: none;
  }

  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #ffffff59, 0 0 100px #ffffff1a;
  }

  75% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #ffffff59, 0 0 100px #ffffff1a;
  }

  75.1% {
    opacity: 0;
    text-shadow: none;
  }

  77% {
    opacity: 0;
    text-shadow: none;
  }

  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #fff6, 0 0 110px #fff3, 0 0 100px #ffffff1a;
  }

  85% {
    opacity: 1;
    text-shadow: 0 0 30px #ffffff8c, 0 0 60px #fff6, 0 0 110px #fff3, 0 0 100px #ffffff1a;
  }

  85.1% {
    opacity: 0;
    text-shadow: none;
  }

  86% {
    opacity: 0;
    text-shadow: none;
  }

  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #fff9, 0 0 60px #ffffff73, 0 0 110px #ffffff40, 0 0 100px #ffffff1a;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 30px #fff9, 0 0 60px #ffffff73, 0 0 110px #ffffff40, 0 0 100px #ffffff1a;
  }
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    margin: 0 62px;
  }
}

@media (min-width: 1260px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: 0 100px;
  }
}

.grid__item--1-1 {
  grid-column: 1 / 2;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-1 {
    grid-column: 1 / 2;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-1 {
    grid-column: 1 / 2;
  }
}

.grid__item--1-2 {
  grid-column: 1 / 3;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-2 {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-2 {
    grid-column: 1 / 3;
  }
}

.grid__item--1-3 {
  grid-column: 1 / 4;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-3 {
    grid-column: 1 / 4;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-3 {
    grid-column: 1 / 4;
  }
}

.grid__item--1-4 {
  grid-column: 1 / 5;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-4 {
    grid-column: 1 / 5;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-4 {
    grid-column: 1 / 5;
  }
}

.grid__item--1-5 {
  grid-column: 1 / 6;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-5 {
    grid-column: 1 / 6;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-5 {
    grid-column: 1 / 6;
  }
}

.grid__item--1-6 {
  grid-column: 1 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-6 {
    grid-column: 1 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-6 {
    grid-column: 1 / 7;
  }
}

.grid__item--1-7 {
  grid-column: 1 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-7 {
    grid-column: 1 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-7 {
    grid-column: 1 / 8;
  }
}

.grid__item--1-8 {
  grid-column: 1 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-8 {
    grid-column: 1 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-8 {
    grid-column: 1 / 9;
  }
}

.grid__item--1-9 {
  grid-column: 1 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-9 {
    grid-column: 1 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-9 {
    grid-column: 1 / 10;
  }
}

.grid__item--1-10 {
  grid-column: 1 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-10 {
    grid-column: 1 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-10 {
    grid-column: 1 / 11;
  }
}

.grid__item--1-11 {
  grid-column: 1 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-11 {
    grid-column: 1 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-11 {
    grid-column: 1 / 12;
  }
}

.grid__item--1-12 {
  grid-column: 1 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-1-12 {
    grid-column: 1 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-1-12 {
    grid-column: 1 / 13;
  }
}

.grid__item--2-2 {
  grid-column: 2 / 3;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-2 {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-2 {
    grid-column: 2 / 3;
  }
}

.grid__item--2-3 {
  grid-column: 2 / 4;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-3 {
    grid-column: 2 / 4;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-3 {
    grid-column: 2 / 4;
  }
}

.grid__item--2-4 {
  grid-column: 2 / 5;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-4 {
    grid-column: 2 / 5;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-4 {
    grid-column: 2 / 5;
  }
}

.grid__item--2-5 {
  grid-column: 2 / 6;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-5 {
    grid-column: 2 / 6;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-5 {
    grid-column: 2 / 6;
  }
}

.grid__item--2-6 {
  grid-column: 2 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-6 {
    grid-column: 2 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-6 {
    grid-column: 2 / 7;
  }
}

.grid__item--2-7 {
  grid-column: 2 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-7 {
    grid-column: 2 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-7 {
    grid-column: 2 / 8;
  }
}

.grid__item--2-8 {
  grid-column: 2 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-8 {
    grid-column: 2 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-8 {
    grid-column: 2 / 9;
  }
}

.grid__item--2-9 {
  grid-column: 2 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-9 {
    grid-column: 2 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-9 {
    grid-column: 2 / 10;
  }
}

.grid__item--2-10 {
  grid-column: 2 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-10 {
    grid-column: 2 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-10 {
    grid-column: 2 / 11;
  }
}

.grid__item--2-11 {
  grid-column: 2 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-11 {
    grid-column: 2 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-11 {
    grid-column: 2 / 12;
  }
}

.grid__item--2-12 {
  grid-column: 2 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-2-12 {
    grid-column: 2 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-2-12 {
    grid-column: 2 / 13;
  }
}

.grid__item--3-3 {
  grid-column: 3 / 4;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-3 {
    grid-column: 3 / 4;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-3 {
    grid-column: 3 / 4;
  }
}

.grid__item--3-4 {
  grid-column: 3 / 5;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-4 {
    grid-column: 3 / 5;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-4 {
    grid-column: 3 / 5;
  }
}

.grid__item--3-5 {
  grid-column: 3 / 6;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-5 {
    grid-column: 3 / 6;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-5 {
    grid-column: 3 / 6;
  }
}

.grid__item--3-6 {
  grid-column: 3 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-6 {
    grid-column: 3 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-6 {
    grid-column: 3 / 7;
  }
}

.grid__item--3-7 {
  grid-column: 3 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-7 {
    grid-column: 3 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-7 {
    grid-column: 3 / 8;
  }
}

.grid__item--3-8 {
  grid-column: 3 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-8 {
    grid-column: 3 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-8 {
    grid-column: 3 / 9;
  }
}

.grid__item--3-9 {
  grid-column: 3 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-9 {
    grid-column: 3 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-9 {
    grid-column: 3 / 10;
  }
}

.grid__item--3-10 {
  grid-column: 3 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-10 {
    grid-column: 3 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-10 {
    grid-column: 3 / 11;
  }
}

.grid__item--3-11 {
  grid-column: 3 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-11 {
    grid-column: 3 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-11 {
    grid-column: 3 / 12;
  }
}

.grid__item--3-12 {
  grid-column: 3 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-3-12 {
    grid-column: 3 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-3-12 {
    grid-column: 3 / 13;
  }
}

.grid__item--4-4 {
  grid-column: 4 / 5;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-4 {
    grid-column: 4 / 5;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-4 {
    grid-column: 4 / 5;
  }
}

.grid__item--4-5 {
  grid-column: 4 / 6;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-5 {
    grid-column: 4 / 6;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-5 {
    grid-column: 4 / 6;
  }
}

.grid__item--4-6 {
  grid-column: 4 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-6 {
    grid-column: 4 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-6 {
    grid-column: 4 / 7;
  }
}

.grid__item--4-7 {
  grid-column: 4 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-7 {
    grid-column: 4 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-7 {
    grid-column: 4 / 8;
  }
}

.grid__item--4-8 {
  grid-column: 4 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-8 {
    grid-column: 4 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-8 {
    grid-column: 4 / 9;
  }
}

.grid__item--4-9 {
  grid-column: 4 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-9 {
    grid-column: 4 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-9 {
    grid-column: 4 / 10;
  }
}

.grid__item--4-10 {
  grid-column: 4 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-10 {
    grid-column: 4 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-10 {
    grid-column: 4 / 11;
  }
}

.grid__item--4-11 {
  grid-column: 4 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-11 {
    grid-column: 4 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-11 {
    grid-column: 4 / 12;
  }
}

.grid__item--4-12 {
  grid-column: 4 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-4-12 {
    grid-column: 4 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-4-12 {
    grid-column: 4 / 13;
  }
}

.grid__item--5-5 {
  grid-column: 5 / 6;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-5 {
    grid-column: 5 / 6;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-5 {
    grid-column: 5 / 6;
  }
}

.grid__item--5-6 {
  grid-column: 5 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-6 {
    grid-column: 5 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-6 {
    grid-column: 5 / 7;
  }
}

.grid__item--5-7 {
  grid-column: 5 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-7 {
    grid-column: 5 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-7 {
    grid-column: 5 / 8;
  }
}

.grid__item--5-8 {
  grid-column: 5 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-8 {
    grid-column: 5 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-8 {
    grid-column: 5 / 9;
  }
}

.grid__item--5-9 {
  grid-column: 5 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-9 {
    grid-column: 5 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-9 {
    grid-column: 5 / 10;
  }
}

.grid__item--5-10 {
  grid-column: 5 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-10 {
    grid-column: 5 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-10 {
    grid-column: 5 / 11;
  }
}

.grid__item--5-11 {
  grid-column: 5 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-11 {
    grid-column: 5 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-11 {
    grid-column: 5 / 12;
  }
}

.grid__item--5-12 {
  grid-column: 5 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-5-12 {
    grid-column: 5 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-5-12 {
    grid-column: 5 / 13;
  }
}

.grid__item--6-6 {
  grid-column: 6 / 7;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-6 {
    grid-column: 6 / 7;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-6 {
    grid-column: 6 / 7;
  }
}

.grid__item--6-7 {
  grid-column: 6 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-7 {
    grid-column: 6 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-7 {
    grid-column: 6 / 8;
  }
}

.grid__item--6-8 {
  grid-column: 6 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-8 {
    grid-column: 6 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-8 {
    grid-column: 6 / 9;
  }
}

.grid__item--6-9 {
  grid-column: 6 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-9 {
    grid-column: 6 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-9 {
    grid-column: 6 / 10;
  }
}

.grid__item--6-10 {
  grid-column: 6 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-10 {
    grid-column: 6 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-10 {
    grid-column: 6 / 11;
  }
}

.grid__item--6-11 {
  grid-column: 6 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-11 {
    grid-column: 6 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-11 {
    grid-column: 6 / 12;
  }
}

.grid__item--6-12 {
  grid-column: 6 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-6-12 {
    grid-column: 6 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-6-12 {
    grid-column: 6 / 13;
  }
}

.grid__item--7-7 {
  grid-column: 7 / 8;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-7 {
    grid-column: 7 / 8;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-7 {
    grid-column: 7 / 8;
  }
}

.grid__item--7-8 {
  grid-column: 7 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-8 {
    grid-column: 7 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-8 {
    grid-column: 7 / 9;
  }
}

.grid__item--7-9 {
  grid-column: 7 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-9 {
    grid-column: 7 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-9 {
    grid-column: 7 / 10;
  }
}

.grid__item--7-10 {
  grid-column: 7 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-10 {
    grid-column: 7 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-10 {
    grid-column: 7 / 11;
  }
}

.grid__item--7-11 {
  grid-column: 7 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-11 {
    grid-column: 7 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-11 {
    grid-column: 7 / 12;
  }
}

.grid__item--7-12 {
  grid-column: 7 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-7-12 {
    grid-column: 7 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-7-12 {
    grid-column: 7 / 13;
  }
}

.grid__item--8-8 {
  grid-column: 8 / 9;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-8-8 {
    grid-column: 8 / 9;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-8-8 {
    grid-column: 8 / 9;
  }
}

.grid__item--8-9 {
  grid-column: 8 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-8-9 {
    grid-column: 8 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-8-9 {
    grid-column: 8 / 10;
  }
}

.grid__item--8-10 {
  grid-column: 8 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-8-10 {
    grid-column: 8 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-8-10 {
    grid-column: 8 / 11;
  }
}

.grid__item--8-11 {
  grid-column: 8 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-8-11 {
    grid-column: 8 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-8-11 {
    grid-column: 8 / 12;
  }
}

.grid__item--8-12 {
  grid-column: 8 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-8-12 {
    grid-column: 8 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-8-12 {
    grid-column: 8 / 13;
  }
}

.grid__item--9-9 {
  grid-column: 9 / 10;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-9-9 {
    grid-column: 9 / 10;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-9-9 {
    grid-column: 9 / 10;
  }
}

.grid__item--9-10 {
  grid-column: 9 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-9-10 {
    grid-column: 9 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-9-10 {
    grid-column: 9 / 11;
  }
}

.grid__item--9-11 {
  grid-column: 9 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-9-11 {
    grid-column: 9 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-9-11 {
    grid-column: 9 / 12;
  }
}

.grid__item--9-12 {
  grid-column: 9 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-9-12 {
    grid-column: 9 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-9-12 {
    grid-column: 9 / 13;
  }
}

.grid__item--10-10 {
  grid-column: 10 / 11;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-10-10 {
    grid-column: 10 / 11;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-10-10 {
    grid-column: 10 / 11;
  }
}

.grid__item--10-11 {
  grid-column: 10 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-10-11 {
    grid-column: 10 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-10-11 {
    grid-column: 10 / 12;
  }
}

.grid__item--10-12 {
  grid-column: 10 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-10-12 {
    grid-column: 10 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-10-12 {
    grid-column: 10 / 13;
  }
}

.grid__item--11-11 {
  grid-column: 11 / 12;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-11-11 {
    grid-column: 11 / 12;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-11-11 {
    grid-column: 11 / 12;
  }
}

.grid__item--11-12 {
  grid-column: 11 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-11-12 {
    grid-column: 11 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-11-12 {
    grid-column: 11 / 13;
  }
}

.grid__item--12-12 {
  grid-column: 12 / 13;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .grid__item--tablet-12-12 {
    grid-column: 12 / 13;
  }
}

@media (min-width: 1260px) {
  .grid__item--desktop-12-12 {
    grid-column: 12 / 13;
  }
}

.introduce__title {
  color: #fff;
  text-align: center;
  margin: 25px 0 32px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: normal;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .introduce__title {
    text-align: left;
    margin-top: 20px;
    font-size: 48px;
    line-height: 48px;
  }
}

@media (min-width: 1260px) {
  .introduce__title {
    margin-top: 120px;
    font-size: 64px;
    line-height: 64px;
  }
}

.introduce__paragraph {
  text-align: left;
  color: #fff;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 34px;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .introduce__paragraph {
    margin: 20px 0;
  }
}

@media (min-width: 1260px) {
  .introduce__paragraph {
    margin: 120px 0;
  }
}

.details__project {
  background: linear-gradient(#182f40 5%, #0e0a10 100%);
  border-radius: 15px;
  margin: 25px;
  padding: 15px;
  box-shadow: inset 0 0 31px 1px #298c99;
}

.details__arrow_box {
  width: 25px;
  height: 15px;
  float: right;
  background-image: url("arrow-down.c0beb1cd.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px 15px 0 0;
  transition-duration: .5s;
}

.details__arrow_box:hover {
  cursor: pointer;
}

.details__arrow_box-active {
  transition-duration: .5s;
  transform: rotate(180deg);
}

.details__title {
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: normal;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .details__title {
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 50px;
  }
}

@media (min-width: 1260px) {
  .details__title {
    font-size: 64px;
    line-height: 64px;
  }
}

.details__subtitle {
  text-align: left;
  color: #fff;
  margin-left: 10px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .details__subtitle {
    font-size: 32px;
  }
}

@media (min-width: 1260px) {
  .details__subtitle {
    font-size: 40px;
  }
}

.details__panel {
  max-height: 0;
  color: #000;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 0 20px;
  font-size: 30px;
  line-height: 35px;
  transition: max-height .2s ease-out;
  overflow: hidden;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .details__panel {
    font-size: 20px;
  }
}

@media (min-width: 1260px) {
  .details__panel {
    font-size: 30px;
  }
}

.details__button {
  max-width: 300px;
  height: 30px;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  color: #182f40;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  text-decoration: none;
  transition: all .5s;
  display: flex;
}

.button:hover {
  color: #fff;
  background-color: #1d1d1d;
  box-shadow: 0 0 27px #ecf0f475;
}

.button:active {
  box-shadow: 0 0 67px #ecf0f475;
}

.contact__title {
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: normal;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .contact__title {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (min-width: 1260px) {
  .contact__title {
    font-size: 64px;
  }
}

.contact__info {
  margin: 24px 0;
}

.contact__info-title {
  font-family: Poppins, sans-serif;
  font-style: regular;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.contact__info-link {
  font-family: Poppins, sans-serif;
  font-style: regular;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.contact__field {
  margin: 0 0 16px;
}

.form-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  color: #000;
  background-color: #f7f8ff;
  border: 2px solid #0000;
  border-radius: 40px;
  padding: 14px 16px;
  display: block;
}

.form-field::placeholder {
  color: #8f99ab;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.form-field:hover {
  border-color: #ccd0e0;
}

.form-field:focus {
  border-color: #000;
  outline: none;
}

.form-field--textarea {
  height: 144px;
  resize: none;
  border-radius: 16px;
  margin-bottom: 32px;
}

.slider {
  position: relative;
}

.slider__content {
  display: flex;
}

.slider__slider-box {
  display: flex;
  overflow-x: hidden;
}

.slider__card {
  width: 350px;
  background: linear-gradient(#182f40 5%, #0e0a10 100%);
  border-radius: 15px;
  margin: 0 25px;
  box-shadow: inset 0 0 31px 1px #298c99;
}

.slider__img {
  width: 100%;
  padding: 0 20px;
}

.slider__title {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: normal;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .slider__title {
    padding: 5px 40px 40px;
    font-size: 48px;
  }
}

@media (min-width: 1260px) {
  .slider__title {
    font-size: 64px;
    line-height: 100px;
  }
}

.slider__title-card {
  text-align: center;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: normal;
}

@media (min-width: 744px) and (max-width: 1259px) {
  .slider__title-card {
    padding: 20px;
    font-size: 32px;
  }
}

@media (min-width: 1260px) {
  .slider__title-card {
    font-size: 40px;
    line-height: 60px;
  }
}

.slider__created {
  text-align: left;
  color: #fff;
  padding: 0 20px 5px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.slider__discribe {
  color: #fff;
  padding: 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.slider__arrow-prev-button-box, .slider__arrow-next-button-box {
  z-index: 1;
  position: absolute;
  top: 50%;
}

.slider__arrow-next-button-box {
  right: 20px;
}

.slider__arrow-prev, .slider__arrow-next {
  width: 30px;
  height: 50px;
  transition-duration: .5s;
}

.slider__arrow-prev:hover, .slider__arrow-next:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.slider__arrow-next {
  right: 0;
}

.slider__language-box, .slider__topics, .slider__total-size {
  color: #fff;
  padding: 0 20px 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.slider__language-list {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

.slider__language-item-percent {
  color: #18c424;
}

.slider__topics {
  font-size: 12px;
  line-height: 12px;
}

.slider__total-size {
  padding: 0 20px;
}

.logo__image:hover {
  animation: .9s both jello-horizontal;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, .75, 1);
  }

  40% {
    transform: scale3d(.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, .85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

p[align="left"] {
  gap: 20px;
  display: flex;
}

[dir="auto"] {
  margin-bottom: 20px;
}

.body {
  position: relative;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("bg-main.4e36e07c.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: absolute;
}

.main {
  padding: 20px;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
